@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ghastly-panic';
  src: url('/Ghastly Panic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'new-tegomin-regular';
  src: url('/NewTegomin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor {
  width: 4px;
  /* height: 1px; */
  background-color: #cc0000;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
